{% extends 'base.html'%}

{% block body %}
<link rel="stylesheet" href="{{ static('css/colorwheel.css') }}">
<div class="ui fixed transparent inverted menu">
    <div class="container" id="header">
	<div class="title item"><b>ColorWheel</b></div>
    </div>
</div>
<div class="main container">
    <div class="ui two column page divided grid">
	<div class="center aligned column">
	    <canvas id="image" width=0 height=0>
	    </canvas>
	    <div class="ui blue button" id="pic-div">
		<input type="file" id="pic-button"/>
		Load a picture
	    </div>
	</div>
	<div class="center aligned column" id="vis">
	</div>
    </div>
</div>
{% endblock %}
